<!-- <div class="card" style="width: 18rem;">
    <img [src]="product.thumbnail" alt="{{ product.title }}" class="card-img-top" style="height: 200px;">
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">Brand: {{ product.brand }}</p>
      <p class="card-text">Category: {{ product.category }}</p>
      <p class="card-text">{{ product.price | currency:'EGP' }}</p>
      <p class="stock-status" [ngClass]="{'out-of-stock': product.stock === 0, 'in-stock': product.stock > 0}">
        {{ product.stock | stockStatus }} </p>
      <button class="btn btn-primary mx-2" (click)="addToCart(product)">Add to Cart</button>
      <a [routerLink]="['/product', product.id]" class="btn btn-secondary">View Details</a>
    </div>
  </div>
   -->