/* 
    --darkBlue: #1C3879;
    --lightBlue: #607EAA; 
    --gray: #EAE3D2;
    --light: #F9F5EB;
    --navFont: 18px;
    --headerFont: 20px;
    --bodyFont: 16px;
    --footerFont: 14px;
     */


.container-fluid{
   background-color: #419197;
   padding: 5px;
   font-size: 18px;
}

.container-fluid > a{
   color: #419197;
}

ul li a {
   color: white;
}

input{
   background-color: #EAE3D2;
   width: 70%;
   height: 10%;
   margin-top:3px;
}

button{
   color: #EAE3D2;
   outline: #EAE3D2;
   font-size: 18px;
   padding-right:5 px;
}


.logoDiv{
   background-color: #F9F5EB;
}
.active{
   text-decoration: underline;
}

