/* 
    --darkBlue: #1C3879;
    --lightBlue: #607EAA; 
    --gray: #EAE3D2;
    --light: #F9F5EB;
    --navFont: 18px;
    --headerFont: 20px;
    --bodyFont: 16px;
    --footerFont: 14px;
     */

     .container-fluid{
        background-color: #419197;
        margin-top:-8px;
        margin-bottom:-8px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
    }
    
    ul li a {
        color: white;
    }
     div a {
        color:white;
     }
     input{
        background-color: #EAE3D2;
        width: 70%;
        height: 10%;
        margin-top:3px;
     }
     button{
        color:#419197;
       background-color: rgb(231, 225, 225);
        font-size: 18px;
        padding-right:5 px;
     }
    
     button:hover{
        color:#419197 ;
        background-color: rgb(254, 249, 243);
     }
    
     h3{
        background-color: #EAE3D2;
        text-align: center;
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 6px;
        color: #607EAA;
        margin-bottom: 0px;
     }