/* 
--darkBlue: #1C3879;
--lightBlue: #607EAA; 
--gray: #EAE3D2;
--light: #F9F5EB;
--navFont: 18px;
--headerFont: 20px;
--bodyFont: 16px;
--footerFont: 14px;
*/

.container-fluid{
   background-color: #607EAA;
   padding: 5px;
   font-size: 18px;
}

ul li a {
   color: #EAE3D2;
}
div a {
   color: #EAE3D2;
}
input{
   background-color: #EAE3D2;
   width: 70%;
   height: 10%;
   margin-top:3px;
}
button{
   color: #EAE3D2;
   outline: #EAE3D2;
   font-size: 18px;
   padding-right:5 px;
}

button:hover{
   color: #607EAA;
   background-color: #EAE3D2;
}
.logoDiv{
   background-color: #F9F5EB;
}
.active{
   text-decoration: underline;
}