<nav class="navbar navbar-expand-lg bg-body-tertiary d-flex p-0 sticky-top">
  <div class="container-fluid p-0"> 
    <a class="nav-link py-1 px-3 fs-3  logoDiv rounded-end-5 fw-bolder bg-white" href="#">

      <img src="assets/img/logo.png" alt="" class="bg-transparent " width="60px" height="60px">
      Pharma A
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-grow-1 justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-lg-0 flex-grow-1 justify-content-end pe-4 ">

        <!-- cart -->
        <li class="nav-item align-self-center" *ngIf="role == 'client' || role == null">
          <a class="nav-link position-relative" routerLink="cart">
            <fa-icon [icon]="faCartShopping" class="px-2 angle"></fa-icon>
            <span class="position-absolute translate-middle badge rounded-pill bg-danger">
            {{counter}}
            <span class="visually-hidden" >unread messages</span>
          </span>
          </a>
        </li>

        <!-- nav -->
        <li class="nav-item align-self-center">
          <a class="nav-link" aria-current="page" routerLink="home">Pharmacies</a>
        </li>
        <!-- <li class="nav-item align-self-center">
          <a class="nav-link" aria-current="page" href="#" *ngIf="role == 'client'">Offers</a>
        </li> -->
        <li class="nav-item align-self-center">
          <a class="nav-link" routerLink="orders" *ngIf="role == 'client'">My Orders</a>
        </li>
        <li class="nav-item align-self-center">
          <a class="nav-link" routerLink="listproduct/{{userID}}" *ngIf="role == 'pharmacy'">List of Product</a>
        </li>
        <li class="nav-item align-self-center">
          <a class="nav-link" routerLink="viewMyOrders/{{userID}}" *ngIf="role == 'pharmacy'">My Orders</a>
        </li>
        <li class="nav-item align-self-center">
          <a class="nav-link" routerLink="deliveryOrders/{{userID}}" *ngIf="role == 'delivery'">My Orders</a>
        </li>
      
        <li class="nav-item align-self-center">
          <a class="nav-link" aria-current="page" routerLink="contact-us">Contact-us</a>
        </li>
        <li class="nav-item align-self-center">
          <a class="nav-link" aria-current="page" routerLink="about-us">About-us</a>
        </li>
        <li class="nav-item align-self-center border border-light">
          <a class="nav-link" routerLink="signUp" *ngIf="!role">Register</a>
        </li>
        <li class="nav-item align-self-center ms-1 border border-light">
          <a class="nav-link" routerLink="/signin" *ngIf="!role">Log in</a>
        </li>
        <li class="nav-item dropdown" *ngIf="role">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="generateImageUrl()" width="40px" length="40px" alt="" class="rounded-5">
          </a>
          <ul class="dropdown-menu" style="left:-90px;">
            <li class="nav-link cursor text-black" (click)="goToProfile()">Profile</li>
            <li class="nav-link  text-black cursor" (click)="logOut()" *ngIf="role">Log out</li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
   
