/* 
    --darkBlue: #1C3879;
    --lightBlue: #607EAA; 
    --gray: #EAE3D2;
    --light: #F9F5EB;
    --navFont: 18px;
    --headerFont: 20px;
    --bodyFont: 16px;
    --footerFont: 14px;
     */
    h1 {
        color: #419197 ;
        text-align: center;
         margin-top: 30px;
        margin-bottom:18px; 
        font-size: 30px;
    }

    input{
        margin-top:-110px;
        margin-left: 60px;
        position: absolute;
        width: 400px;
        height: 40px;
    }
    
   button{
    position: absolute;
    margin-top:-110px;
    margin-left: 470px;
    background-color: #607EAA;
    outline: #EAE3D2;
   }

   button:hover{
    color: #607EAA;
   } 

   p{
    color: #419197;
    margin-top: 25px;
    font-size: 16px;
   }

  .cardd{
    margin-left:210px;

  }
  .phone{
    width: 10px;
    height: 10px;
    background-color: #607EAA;
  } 

  h5{
    color: #419197;
  }

 a{
  color:white;
  background-color: #419197;
 }

 .container{
      padding-top:50px;
 }

 .tile-module_card__AeiYN {
  border: 1px solid var(--mm-color-neutral-10,#e5e5e5);
  display: flex;
}

.card{
  display: inline-block;
  margin-left: 20px;
  background: #fff;
  /* border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer; */
}
 .card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
@media(max-width: 990px){s
  .card{
    margin: 20px;
  }
}  

/* 
.card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}
@media(max-width: 990px){s
  .card{
    margin: 20px;
  }
} 
h4{
  color: rgb(60, 99, 86);
  font-weight: bold;
}
h3{
  color: rgb(47, 101, 83);
  font-size: 20px;
}

button{
    background-color: #419197 ;
    color: #fff;
}
button:hover{
    background-color: #295c60 ;
    color: #fff;
}
h5{
    color: rgb(60, 99, 86); 
}

  a{
    text-decoration: none;
  } */

  
.btn{
  background-color: #419197 ;
  color: #fff;
}
.btn:hover{
  background-color: #295c60 ;
  color: #fff;
}