/* 
    --darkBlue: #1C3879;
    --lightBlue: #607EAA; 
    --gray: #EAE3D2;
    --light: #F9F5EB;
    --navFont: 18px;
    --headerFont: 20px;
    --bodyFont: 16px;
    --footerFont: 14px;
     */

    img {
        width: 1250px;
        height: 400px;
        position: relative;
        margin-top: 20px;
    }

    h2{
        color: #607EAA ;
        text-align: center;
        margin-top: 30px;
        font-size: 20px;
        margin-bottom:18px;
    }

    input{
        margin-top:-110px;
        margin-left: 60px;
        position: absolute;
        width: 400px;
        height: 40px;
    }
    
   button{
    position: absolute;
    margin-top:-110px;
    margin-left: 470px;
    background-color: #607EAA;
    outline: #EAE3D2;
   }

   button:hover{
    color: #607EAA;
   } 

   p{
    color: #607EAA;
    margin-top: 25px;
   }

  .cardd{
    margin-left:210px;
  }
  .phone{
    width: 10px;
    height: 10px;
    background-color: #607EAA;
  } 

  h5{
    color: #607EAA;
  }