<app-drop-down></app-drop-down>
<!-------- what we do ------------------>
<app-pharmacy-list></app-pharmacy-list>
<div class="container">
  <div class="row">
    <div class="col-lg col-md-12 col-sm-12">
    
    <h1>What is Pharma A !  <fa-icon [icon]="fasmile"></fa-icon></h1>
    <div class="cardd">
      <div class="card w-75 ">
        <div class="card-body">
          <p class="card-text mt-1">
            With our website, you can find the nearest pharmacy in just a few
            clicks. Our service will provide you with detailed information on
            the pharmacy's location, opening hours, and available treatments. By
            subscribing to our website, you can get access to exclusive
            discounts and offers. Join us now and start your journey to a
            healthier life!
          </p>
        </div>
    </div>
    </div>
  </div>
</div>
</div>

<!-- ----------------join us --------- -->

<div class="container text-center" style="padding-bottom: 70px">
  <h1 class="me-5 mt-5 mb-2">Join US</h1>
  <div class="row">
    <div class="col">
      <div
        class="card mb-3"
        style="
          width: 400px;
          height: 200px;
          margin-left: 70px;
          margin-top: 20px;
        "
      >
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://i.pinimg.com/236x/73/a7/d0/73a7d00d888aa1339c08010687269c42.jpg"
              class="img-fluid"
              alt="..."
              style="height: 198px; margin-top: 0px"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">As a pharmacy</h5>
              <p class="card-text">
                Get a new client <br />
                Increase your sales
              </p>
              <a href="#" class="btn" style="margin-top: 22px">Let's go</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card mb-3"
        style="
          width: 400px;
          height: 200px;
          margin-left:50px;
          margin-top: 20px;
        "
      >
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://i.pinimg.com/236x/c5/a7/5e/c5a75e6bc62aabe7eb546e4f1a43a67b.jpg"
              class="img-fluid"
              alt="..."
              style="height: 198px; margin-top: -1px"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">As a client</h5>
              <p class="card-text">
                Buy your treatment at any time <br />
                Find the nearest pharmacy to you
              </p>
              <a href="#" class="btn">Let's go</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
