<div class="container-fluid">
  <div class="img">
    <img
      src="https://media.istockphoto.com/id/1302606555/photo/closeup-of-hands-of-young-female-pharmacist-checking-inventory-in-medical-store-using-digital.jpg?b=1&s=612x612&w=0&k=20&c=EdUEJKNFZ2rC_86LVZsVA-wm1hzwvCht9Mp8DyjulT8="
    />
  </div>
  <div class="search">
    <form class="d-flex" role="search">
      <input
        class="form-control me-0 rounded-pill"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        class="btn btn-outline-light rounded-end rounded-start-0"
        type="submit"
      >
        <!-- <fa-icon [icon]="faSearch"></fa-icon> -->
        let's go
      </button>
    </form>
  </div>
</div>
<!-- Background image -->

<!-------- what we do ------------------>

<div class="container">
    <h2>What is About Pharma A !</h2>
    <div class="cardd">
      <div class="card w-75">
        <div class="card-body">
          <p class="card-text mt-1">
            With our website, you can find the nearest pharmacy in just a few
            clicks. Our service will provide you with detailed information on
            the pharmacy's location, opening hours, and available treatments. By
            subscribing to our website, you can get access to exclusive
            discounts and offers. Join us now and start your journey to a
            healthier life!
          </p>
        </div>
    </div>
    </div>
</div>
<!-- ----------------join us --------- -->

<div class="container text-center">
    <h2>Join US </h2>
    <div class="row">
      <div class="col">
        <div class="card mb-3" style="width: 500px; height: 200px;">
            <div class="row g-0">
              <div class="col-md-4">
             <img src="https://media.istockphoto.com/id/1366465985/photo/portrait-of-female-pharmacist-in-drugstore.jpg?b=1&s=612x612&w=0&k=20&c=qHo9dpEesaR7kSMcSII7BCpZIoUOt_GssFxviKrVhIQ=" class="img-fluid" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">As a pharmacy</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div> 
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width:500px; height: 200px;">
            <div class="row g-0">
              <div class="col-md-4">
             <img src="https://images.pexels.com/photos/1552636/pexels-photo-1552636.jpeg?auto=compress&cs=tinysrgb&w=400" class="img-fluid" alt="..."> 
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">As a client</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div> 
      </div>
     
    </div>
  </div>
 