h1 {
  color: #419197;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 18px;
  font-size: 30px;
}

h5 {
  color: #419197;
}

button{
    color:  aliceblue;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(123, 211, 222);
    margin-bottom: 18px;
    

}

h4,input,label,div,h6{
    text-align: left;
    color:  rgb(73, 99, 102);
}
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  /* border: 2px solid yellow; */
}  