<!-- payment.component.html -->
<div class="container text-center" style="padding-bottom: 70px">
  <h1 class="me-5 mt-5 mb-2">Payment details</h1>
  <div class="login-page bg-light my-5">
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="bg-white shadow rounded">
            <div class="row">
              <div class="col-md-7 pe-0">
                <div class="form-left h-100 py-5 px-5">
                  <form >
                    <h6 class="mb-2 text-capitalize">Complete your purchase by providing your payment details below.</h6><br>

                    <!-- Add your form fields -->
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Please enter your Email" formControlName="email" />
                    </div>

                    <div class="col-12">
                      <!-- Add the PayPal Smart Payment Buttons -->
                      <div id="paypal-button-container"></div>
                    </div>

                    <div class="col-12">
                      <button type="button" class="btn px-4 float-end mt-4" style="background-color: rgb(123, 211, 222); border: none;" >Pay</button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- ... Other columns ... -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AUq43hJFDLFrHd2WwGoq8WaHPDf0p37wjDTRN5STqSy4KLGLoGiUzQnPyEVivC6-9eKai0lZLk_UHIXJ"></script>
