th{
    background-color: #16909d;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    text-transform: capitalize;
}
td{
    text-align: center;
    vertical-align: middle;
}
tr{
    border-right: gray;
}

.page-title{
    color: #1a3f42;
}
