<router-outlet></router-outlet>
<div *ngIf="!isLoading && !allProduct"  >
  <div *ngFor="let cat of categories" class=" my-5"> 
    <div class="d-flex justify-content-between align-items-end ps-5 w-9 m-auto ">
      <h1 class="text-center d-inline-block text-capitalize ">{{ cat }}</h1>
      
    </div>
    <div class="carousel-c position-relative  w-9 m-auto ">
      <div class="carousel-c-inner w-100" [style.transform]="'translateX(' + (-getActiveIndex(cat) * (100 / visibleItems)) + '%)'">
        <app-medication-card class="item-container w-100" *ngFor="let prod of getCategoryProducts(cat); let index = index" [medication]="prod"></app-medication-card>
        <!-- Anchor -->
      </div> 
      <div class="carousel-c-controls position-absolute top-35 start-0 w-100 ">
        <button (click)="prev(cat)" [disabled]="getActiveIndex(cat) === 0" class="position-absolute start-0 rounded-5">
          <fa-icon [icon]="faAngleLeft"></fa-icon>
        </button>
        <button (click)="next(cat)" [disabled]="getActiveIndex(cat) === getCategoryProducts(cat).length - visibleItems" class="position-absolute end-0 rounded-5">
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </button>
      </div>
    </div>
    <div class="container">
      <a routerLink="category/{{cat}}" (click)="diplay()" style="color:var(--navColor); font-size:24px">see all...</a>
    </div>
  </div>
</div>
<!-- spinner loading -->
<div class="d-flex align-items-center justify-content-center spinner" *ngIf="isLoading">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

