<div class="login-page bg-light my-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="bg-white shadow rounded">
          <div class="row">
            <div class="col-md-7 pe-0">
              <div class="form-left h-100 py-5 px-5">
                <form
                  class="row g-4"
                  [formGroup]="signinForm"

                  (ngSubmit)="checkUser()"
                >
                  <div class="col-12">
                    <h2 class="mb-2 text-capitalize">Sign In</h2>
                    <label class="form-label"
                      >Email</label
                    >
                    <div >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Email"
                        formControlName="userEmail"
                        
                      />
                      <div
                        *ngIf="
                          signinForm.controls['userEmail'].touched &&
                          signinForm.controls['userEmail'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signinForm.controls['userEmail'].errors?.['required']"
                          
                        >
                          please, enter your email
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label>Password</label>
                    <div >
                      
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Enter Password"
                        formControlName="userPass"
                      />
                      <div
                        *ngIf="
                          signinForm.controls['userPass'].touched &&
                          signinForm.controls['userPass'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signinForm.controls['userPass'].errors?.['required']"
                          
                        >
                          Password is required
                        </small>
                      </div>
                    </div>
                  </div>
                  <small
                  *ngIf="userNotFound"
                  class="text-danger form-text"
                >
                Invalid Email or Password
                </small>
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn px-4 float-end mt-4 "
                    style="background-color: rgb(123, 211, 222); border: none;"
                   
                      >
                      login
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-5 ps-0 d-none d-md-block">
              <img
                style="width: 100%; height: 100%"
                src="https://media.istockphoto.com/id/1456595339/vector/pharmacy.jpg?s=612x612&w=0&k=20&c=TQVhosBnbvAOpU5dMYWvFv4dDBpNqJBg22g51uBIRI0="
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
