<div class="container text-center" style="padding-bottom: 70px">
  <h1 class="me-5 mt-5 mb-2">Feel free to touch with us</h1>

  <section class="icons">
    <!-- Facebook -->
    <a href="https://www.facebook.com/?locale=ar_AR"
      ><fa-icon
        id="facebook"
        class="me-5 fa-3x btn-primary"
        [icon]="fafacebook"
      ></fa-icon
    ></a>
    <!-- Twitter -->
    <a href=""
      ><fa-icon id="twitter" class="me-5 fa-3x" [icon]="fatwitter"></fa-icon
    ></a>
    <!-- Instagram -->
    <a href=""
      ><fa-icon id="instagram" class="me-5 fa-3x" [icon]="fainstagram"></fa-icon
    ></a>
    <!-- WhatsApp -->
    <a href=""
      ><fa-icon id="whatsapp" class="me-5 fa-3x" [icon]="fawhatsapp"></fa-icon
    ></a>
  </section>
  <div class="login-page bg-light my-5">
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="bg-white shadow rounded">
            <div class="row">
              <div class="col-md-7 pe-0">
                <div class="form-left h-100 py-5 px-5">
                  <form>
                    <h2 class="mb-2 text-capitalize">Contact with us</h2>

                    <div class="mb-3">
                      <label for="fullName" class="form-label">Full name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="fullName"
                        placeholder="Please enter your name"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Email address</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        placeholder="Please enter your Email"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="exampleFormControlTextarea1"
                        class="form-label"
                        >Message</label
                      >
                      <textarea
                        class="form-control"
                        id="exampleFormControlTextarea1"
                        rows="3"
                        placeholder="Please enter your message here"
                      ></textarea>
                    </div>
                    <div class="col-12">
                      <button
                        type="submit"
                        class="btn px-4 float-end mt-4"
                        style="
                          background-color: rgb(123, 211, 222);
                          border: none;
                        "
                      >
                        Send
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-5 ps-0 d-none d-md-block">
                <img
                  style="width: 100%; margin-top: 25%;  opacity: 0.75; padding-right: 15px;"
                  src="https://www.theclimategroup.org/sites/default/files/styles/hero_header/public/2020-11/contact%20us.jpg?itok=pnuZW7ou"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
