<div class="container text-center" style="padding-bottom: 70px">
  <h1 class="me-5 mt-5 mb-2">Feel free to get in touch with us</h1>

  <section class="icons">
    <!-- Facebook -->
    <a href="https://www.facebook.com/?locale=ar_AR">
      <fa-icon id="facebook" class="me-5 fa-3x btn-primary" [icon]="fafacebook"></fa-icon>
    </a>
    <!-- Twitter -->
    <a href="https://twitter.com/?lang=ar">
      <fa-icon id="twitter" class="me-5 fa-3x" [icon]="fatwitter"></fa-icon>
    </a>
    <!-- Instagram -->
    <a href="https://www.instagram.com/">
      <fa-icon id="instagram" class="me-5 fa-3x" [icon]="fainstagram"></fa-icon>
    </a>
    <!-- WhatsApp -->
    <a href="https://web.whatsapp.com/">
      <fa-icon id="whatsapp" class="me-5 fa-3x" [icon]="fawhatsapp"></fa-icon>
    </a>
  </section>

  <div class="login-page bg-light my-5">
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="bg-white shadow rounded">
            <div class="row">
              <div class="col-md-7 pe-0">
                <div class="form-left h-100 py-5 px-5">
                  <form [formGroup]="contactusForm" (ngSubmit)="sendContactus()" novalidate>
                    <h2 class="mb-2 text-capitalize">Contact with us</h2>

                    <div class="mb-3">
                      <label for="fullName" class="form-label">Full name</label>
                      <input type="text" class="form-control" id="fullName" placeholder="Please enter your name" formControlName="name" />
                      <div *ngIf="contactusForm.get('name')?.invalid && contactusForm.get('name')?.touched" class="text-danger form-text">
                        <small *ngIf="contactusForm.get('name')?.hasError('required')">Please enter your name</small>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Please enter your Email" formControlName="email" />
                      <div *ngIf="contactusForm.get('email')?.invalid && contactusForm.get('email')?.touched" class="text-danger form-text">
                        <small *ngIf="contactusForm.get('email')?.hasError('required')">Please enter your email</small>
                      </div>
                      <div *ngIf="contactusForm.get('email')?.hasError('email')" class="text-danger form-text">
                        <small>Please enter a valid email address</small>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here" formControlName="message"></textarea>
                      <div *ngIf="contactusForm.get('message')?.invalid && contactusForm.get('message')?.touched" class="text-danger form-text">
                        <small *ngIf="contactusForm.get('message')?.hasError('required')">Please enter your message</small>
                      </div>
                    </div>

                    <div *ngIf="successMessage" class="text-success">
                      Thanks for contacting us. You will be redirected to the home page shortly.
                    </div>

                    <div class="col-12">
                      <button type="submit" class="btn send-button">Send</button>
                    </div>
                  </form>
                </div>
              </div>

              <div class="col-md-5 ps-0 d-none d-md-block">
                <img
                  class="contact-image"
                  style="
                    width: 100%;
                    margin-top: 25%;
                    opacity: 0.75;
                    padding-right: 15px;
                  "
                  src="https://www.theclimategroup.org/sites/default/files/styles/hero_header/public/2020-11/contact%20us.jpg?itok=pnuZW7ou"
                  alt="Contact Us Image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
