<div class="container text-center py-4">
  <h1 class="display-4 mb-4">About Us</h1>

  <div class="card mb-4">
    <div class="card-body">
      <p class="card-text">
        With our website, you can find the nearest pharmacy in just a few clicks. Our service provides detailed information on the pharmacy's location, opening hours, and available treatments. Subscribe to our website for exclusive discounts and offers. Join us now and start your journey to a healthier life!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let user of users">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="user.image" class="card-img" alt="User Image" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{user.name}}</h5>
              <p class="card-text">
                <a [href]="'mailto:' + user.email">E-mail: {{user.email}}</a><br />
                <a [href]="'https://wa.me/' + user.phone">WA-Phone: {{user.phone}}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
