<h1 *ngIf="city.pharmacies.length">{{city.city}}</h1>
<div class="carousel-c overflow-hidden p-5 position-relative m-5 bg-light" *ngIf="city.pharmacies.length">
    <div class="mainCarousel"  [style.width]="city.pharmacies.length * 400 + 20 +'px'" [style.transform]="'translateX(' + (-currentIndex * 400) + 'px)'">
        <!-- all pharmacies -->
        <app-pharmacy-card  class="my-3" style="width:300px; display:inline-block" *ngFor="let item of city.pharmacies" [item]="item"></app-pharmacy-card>


    </div>
        <!-- carousel sliding buttons -->
        <button (click)="prev()" [disabled]="isPrevDisabled()" class=" carBtn position-absolute start-0 top-50">
            <fa-icon [icon]="faAngleLeft"></fa-icon>
        </button>
        <button (click)="next()"  [disabled]="isNextDisabled()" class=" carBtn position-absolute end-0 top-50 rounded rounded-circle">
            <fa-icon [icon]="faAngleRight"></fa-icon>
        </button>
</div>
