<div class=".container d-flex justify-content-around">
    <button *ngIf="orderData.status == 'pending'" class="btn btn-success p-3 m-2" (click)="deliver()">Accept order</button>
</div>
<div>
    <div class="container">
        <table class="table table-striped mb-5">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"> </th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>order Id</td>
                    <td></td>
                    <td>{{orderId}}</td>
                </tr>
                <tr>
                    <td>Pharmacy name</td>
                    <td></td>
                    <td>{{orderData.pharmacy_name}}</td>
                </tr>
                <tr>
                    <td>Pharmacy address</td>
                    <td></td>
                    <td>{{orderData.pharmacy_address}}</td>
                </tr>
                <tr>
                    <td>client name</td>
                    <td></td>
                    <td>{{orderData.client_name}}</td>
                </tr>
                <tr>
                    <td>client adress</td>
                    <td></td>
                    <td>{{orderData.address}}</td>
                </tr>
                <tr>
                    <td>No. of items in the order</td>
                    <td></td>
                    <td>{{orderData.orderMedications.length}}</td>
                </tr>
                <tr>
                    <td>Order status</td>
                    <td></td>
                    <td>
                        <fa-icon [ngClass]="'px-2 text-'+badgeColor(orderData.status)" [icon]="faCircle"></fa-icon>
                    <span [ngClass]="'text-'+badgeColor(orderData.status)" >{{orderData.status | camelToRegular}}</span></td>
                </tr>
                <tr>
                    <td>Order price</td>
                    <td></td>
                    <td>{{orderData.totalprice}} L.E.</td>
                </tr>
              
            </tbody>
          </table>
    </div>
</div>

