<div class="card" style="width: 18rem;">
    <img src="{{item.image}}" class="card-img-top" alt="pharmacy">
    <div class="card-body">
      <h5 class="card-title h-20">{{item.pharmacyName}} pharmacy</h5>
      <p class="card-text h-20">{{item.address}}</p>
      <!-- delivery  -->
      <div class="h-10 mb-3">
        <p *ngIf="item.siteDelivery == 'true'" class="card-text text-success">Delivered by pharma A</p>
        <p *ngIf="item.siteDelivery == 'false'" class="card-text text-warning">pharmacy delivery</p>
      </div>
      <a (click)="goToDetails(item.id)" class="btn text-white h-25 d-inline-block " style="background-color:#8DC398">get your medication!</a>
    </div>
  </div>