<div id="container" style="height: 400px; width: 100%;">
    <div  class="container">
        <!-- <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Library</a></li>
              <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
          </nav> -->
    <div class="mb-3" style="max-width: 85%; padding: 30px;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
                <p><strong>Name: </strong> {{name}} </p>
                <p><strong>Address: </strong> {{address}}</p>
                <p><strong>Rating: </strong> {{rating}}</p>
                <p><strong>Phone-number: </strong> {{number}}</p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="https://t4.ftcdn.net/jpg/00/89/89/91/360_F_89899105_UN5Bv2hYUx0TFzBdwpi8K1rkPzl3dYLx.jpg" class="img-fluid rounded-start" alt="...">
          </div>
        </div>
      </div>
</div>