<!-- <section class="h-100 h-custom" style="background-color: #eff5f3">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img
            src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v870-mynt-20_1_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=34b4a3b495378392a9320de3f3eb09ce"
            class="w-100"
            style="border-top-left-radius: 0.3rem; border-top-right-radius: 0.3rem;"
            alt="Sample photo"
          />
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Update Product</h3>

            <form class="px-md-2" (ngSubmit)="update()">
              <div *ngIf="product">
                <div class="row">
                  <div class="form-outline mb-4 col-md-6">
                    <input
                      type="text"
                      id="form3Example1q"
                      class="form-control"
                      [(ngModel)]="product.name"
                      name="name"
                    />
                    <label class="form-label" for="form3Example1q">Product Name</label>
                    <span class="text-danger" *ngIf="errors.name">{{ errors.name }}</span>
                  </div>

                  <div class="form-outline mb-4 col-md-6">
                    <input
                      type="number"
                      id="form3Example1q"
                      class="form-control"
                      [(ngModel)]="product.price"
                      name="price"
                    />
                    <label class="form-label" for ="form3Example1q">Price</label>
                    <span class="text-danger" *ngIf="errors.price">{{ errors.price }}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-outline mb-4">
                      <input
                        type="text"
                        class="form-control"
                        id="exampleDatepicker1"
                        [(ngModel)]="product.image"
                        name="image"
                      />
                      <label for="exampleDatepicker1" class="form-label">Image</label>
                      <span class="text-danger" *ngIf="errors.image">{{ errors.image }}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-outline mb-4">
                      <input
                        type="text"
                        class="form-control"
                        id="exampleDatepicker1"
                        [(ngModel)]="product.category"
                        name="category"
                      />
                      <label for="exampleDatepicker1" class="form-label">Category</label>
                      <span class="text-danger" *ngIf="errors.category">{{ errors.category }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-lg mb-1" style="background-color: #419197">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

