#submitBtn{
    background-color: rgb(123, 211, 222); border: none;
    color: aliceblue;
    font-weight: bold;
}

button{
    color:  rgb(73, 99, 102);
    font-size: larger;
    font-weight: bold;
    background-color: rgb(123, 211, 222);
}

h2,input,label{
    color:  rgb(73, 99, 102);
}