<div
  class="item-content w-100 d-flex flex-column justify-content-between bg-white align-items-center"
 style="margin-left: 50px;">
  <!-- <img
    src="https://img.freepik.com/premium-vector/set-medicines-clipart_24877-71915.jpg?w=2000"
    alt=""
    width="80%"
    height="35%"
    class="p-3 object-fit-contain"
  /> -->
  <img
    [src]="generateImageUrl(medication.medicine_image)"
    alt=""
    width="40%"
    height="30%"
    
  />
  <h4
    class="overflow-hidden fs-6 d-flex align-items-center m-0"
    style="height: 20% ; color: rgb(73, 99, 102);"
  >
    {{ medication.medicine_name }}
  </h4>
  <p class="overflow-hidden m-0" style="height: 10% ; color: rgb(73, 99, 102);">
    <span class="fw-bolder">Price:</span> {{ medication.medicine_price }} L.E
  </p>
  <div *ngIf="role != 'pharmacy'" class="d-flex">
    <a
      class="btn btn-secondary w-50 m-0 viewbtn"
      [routerLink]="'/pharmacy/' + pharmacyID + '/product/' + medication.id"
      >View detailes</a
    >
    <button
      class="btn bg-nav text-white btnCart w-50 m-0 cartbtn"
      (click)="addToCart(medication)"
      *ngIf="!medication.added"
    >
      add to cart
    </button>
    <button
      class="btn btnAdded text-white w-50 m-0 cartbtn"
      *ngIf="medication.added"
      (click)="removeFromCart(medication)"
    >
      added
    </button>
  </div>
</div>
<!-- <div class="item-content w-100 d-flex flex-column justify-content-between bg-white align-items-center"> 
    <img src="https://img.freepik.com/premium-vector/set-medicines-clipart_24877-71915.jpg?w=2000" alt="" width="80%" height="35%" class="p-3 object-fit-contain ">
    <h4 class="overflow-hidden fs-5 d-flex align-items-center m-0" style="height: 10%">{{ medication.medicine_name }}</h4>
    <p class="overflow-hidden m-0" style="height: 10%"><span class="fw-bolder">Price:</span> {{ medication.medicine_price }} L.E</p>
    <div *ngIf="role != 'pharmacy'" class="d-flex">
        <a class="btn btn-secondary w-50 m-0 viewbtn" [routerLink]="'product/'+medication.id">View detailes</a>
        <button class="btn bg-nav text-white w-50 m-0 cartbtn" (click)="addToCart(medication)" *ngIf="!medication.added">add to cart</button>
        <button class="btn bg-success text-white w-50 m-0 cartbtn" *ngIf="medication.added" (click)="removeFromCart(medication)"> added </button>
    </div>
</div> -->
