<div class="item-content w-100 d-flex flex-column justify-content-between bg-white align-items-center"> 
    <img [src]="prod.image" alt="" width="80%" height="35%" class="p-3 object-fit-contain ">
    <h4 class="overflow-hidden fs-5 d-flex align-items-center m-0" style="height: 10%">{{ prod.name }}</h4>
    <p class="overflow-hidden m-0" style="height: 10%"><span class="fw-bolder">Price:</span> {{ prod.price }} L.E</p>
    <button class="btn bg-nav text-white w-100 m-0" (click)="addToCart(prod)">add to cart</button>
</div>