<div class="bg justify-content-center align-items-center">
  <div class="container text-center" style="position: relative; top: 100px">
    <div class="row justify-content-center">
      <h4 class="col-md-4">Friendly, Fast and Helpful</h4>
      <h3>Sign Up and start your journey with us</h3>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-md-4 mb-3">
        <a routerLink="/signup-pharmacy">
          <div class="card card-1">
            <h3>I am a Pharmacy owner, selling medicine</h3>
          </div></a
        >
      </div>

      <div class="col-md-4 mb-3">
        <a routerLink="/signup-client">
          <div class="card card-1">
            <h3>I am a client, looking for medicine</h3>
          </div></a
        >
      </div>
      <div class="col-md-4 mb-3">
        <a routerLink="/signup-delivery">
          <div class="card card-1">
            <h3>I am a delivery, ready to deliver orders</h3>
          </div></a
        >
      </div>
    </div>

    <h5 class="mt-5">
      Already Have an account!
      <a routerLink="/signin" style="color: #42a5ac">Sign In</a>
    </h5>
  </div>
</div>
