<!-- <div class="container" style="height:150vh; overflow-x: hidden;">
    <div class="d-flex flex-wrap justify-content-around" >
      <app-pharmacy-card  class="my-3" style="width:300px" *ngFor="let item of pharmArr" [item]="item"></app-pharmacy-card>
  
    </div>
  </div> -->
  <div class="position-relative w-100 slide-container">
    <img src="https://media.istockphoto.com/id/1302606555/photo/closeup-of-hands-of-young-female-pharmacist-checking-inventory-in-medical-store-using-digital.jpg?b=1&s=612x612&w=0&k=20&c=EdUEJKNFZ2rC_86LVZsVA-wm1hzwvCht9Mp8DyjulT8=" alt="" class="w-100 h-100 z-0">
    <div class="w-100 h-100 slide-shadow position-absolute top-0 start-0 z-1 "></div>



    <div class="w-100 position-absolute top-50 z-2 d-flex justify-content-center flex-wrap">
        <div class="dropdown mx-3">

            <!-- button to open the list of Governorates to choose the location -->
            <button  (click)="openList()" class="mb-3 dropbtn btn btn-light py-2 d-flex justify-content-between py-2" style="width: 300px;">
                <div>
                    <fa-icon [icon]="faLocation" class="px-2"></fa-icon>
                    <span class="text-dark">{{location}}</span> 
                </div>
                <fa-icon [icon]="faAngleDown" class="px-2 angle"></fa-icon>
            </button>

            <div class="d-flex overflow-y-scroll shadow "  style="width: 300px; max-height: 200px;">
                <!-- list of Governorates -->
                <ul id="myDropdown-1" class=" bg-white rounded p-0 z-2" style="width: 300px;" *ngIf="showList">
                    <li *ngFor="let gov of data" class="bg-white d-flex cursor justify-content-between p-1 w-100 govern"  (click)="openSubList(gov)">
                        {{ gov.name }}
                        <fa-icon [icon]="faAngleRight" class="text-danger"></fa-icon>
                    </li>
                </ul>
                <!-- list of cities of each Governorates import them from dropdown service -->
                <ul id="myDropdown-2" class=" bg-white rounded p-0" style="width: 300px;" *ngIf="showSubList">
                    <div class="d-flex bg-secondary-subtle justify-content-start py-2 cursor" (click)="closeSubList()">
                        <fa-icon [icon]="faAngleLeft"></fa-icon>
                        <span class="fw-bold" >Back</span> 
                    </div>
                    <li *ngFor="let city of cities" class="bg-white d-flexjustify-content-between p-1 w-100 govern cursor" (click)="sendLocation(city)">
                        {{city}}
                    </li>
                </ul>
            </div>
        </div>
        <!-- add search form component from shared components -->

        <!-- <app-search-form class=""></app-search-form> -->
		<div>
			<form class="d-flex" role="search">
				<input class="form-control me-0 py-2 rounded-end-0 rounded-start" [(ngModel)]="searchText" name="first" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-light rounded-end rounded-start-0 " type="submit">
					<fa-icon [icon]="faSearch"></fa-icon>
				</button>
			  </form>
		</div>




    </div>
</div>



  <div class="container">
		<div class="text-center m-5">
    <h3>Buy Every Medicine You Need at a Fair Price</h3>
    </div>
		<div class="row mb-5">
			<div class="col-md-4" *ngFor="let item of pharmArr | searchPharmacies:searchText">
				<div class="card text-center mb-5">
          
					<img src="https://source.unsplash.com/random/1920x1080" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">{{item.pharmacy_name}}</h5>
						<p class="card-text text-center" >Address: {{item.city}}, {{item.Governorate}}</p>
            <p class="card-text text-center">Phone: 1234567<p>
						<a class="btn btn-md" style="background-color: rgb(97, 152, 159); border: none"
            (click)="goToDetails(item.id)">View Products</a>
					</div>
				</div>
        <!-- <div *ngIf="item | searchPharmacies:searchText =false">
          kljasdkljasldkj
        </div> -->

			</div>
      
		
		</div>
		<!-- row -->
		
		<!-- row -->
	
		<!-- row -->
	</div>