/* 
    --darkBlue: #1C3879;
    --lightBlue: #607EAA; 
    --gray: #EAE3D2;
    --light: #F9F5EB;
    --navFont: 18px;
    --headerFont: 20px;
    --bodyFont: 16px;
    --footerFont: 14px;
     */

h4{
    color: white;
    text-align: center;
    font-size: 20px;
  }

  .icons{
    color:white;
    font-size: 25px;
    text-align: center;
  }
  h2{
    font-size: 14px;
    color: white;
    padding-bottom:25px;
    margin-top:25px;
  }
  .container-fluid {
    background-image: linear-gradient(to right, rgba(208, 195, 195, 0), #419197);
    color: #fff;
    padding: 20px 0;
  }

  .footer {
    background-color: #419197;
    padding: 10px 0;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-icon {
    font-size: 24px;
    color: #fff;
    margin-right: 20px;
  }

  .copyright {
    text-align: center;
    padding: 10px 0;
  }
  /* #top:hover{
    background-color: #419197;
  } */
  /* .footer {
    background-color: #419197;
    color: #fff;
    padding: 20px 0;
  } */
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .social-icons a {
    color: white;
    font-size: 30px; /* Adjust the size as needed */
    margin-right: 20px; /* Adjust the margin to create space between icons */
  }

  #top {
    position: fixed;
    bottom: 20px;
    left: auto;
  }
  
  /* .back-to-top-wrapper {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden; 
  } */
  
  .back-to-top {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #5fb8be;
    border: none;
    cursor: pointer;
  }