<div class="container-fluid">

  <footer class="Pharma A">
  <div class="container pt-4">
    <h4 class="pb-2">Our social media</h4>
    <!-- Section: Social media -->
    <section class="icons">
      <!-- Facebook -->
        <fa-icon class="me-2" [icon]="fafacebook"></fa-icon>
      <!-- Twitter -->
       <fa-icon class="me-2" [icon]="fatwitter"></fa-icon>
      <!-- Instagram -->
        <fa-icon class="me-2" [icon]="fainstagram"></fa-icon>
      <!-- Linkedin -->
        <fa-icon [icon]="falinkedin"></fa-icon>
    </section>
    <!-- Section: Social media -->
  </div>

  <div class="text-center">
   <h2> © 2020 Copyright Pharma A</h2> 
  </div>
</footer>
</div>
