<div class="container-fluid">
  <footer class="footer">
    <div class="container pt-4">
      <div class="row">
        <!-- Left Section: Logo and Text -->
        <div class="col-md-4 mb-4 text-center">
          <img style="height: 100px; border-radius: 50%;" src="assets/img/logo.png" alt="Logo" class="img-fluid mb-2" />
          <p class="mb-0">Welcome to Pharma A - Your Trusted Health Partner</p>
        </div>

        <!-- Center Section: Contact Information -->
        <!-- <div class="col-md-4 mb-4 text-center">
          <h4>Hello To Our Team</h4>
          <p>Welcome! Explore opportunities to join our dynamic team at Pharma A. Your journey to becoming part of our success story begins here.</p>
          <p>Email: <a href="mailto:info@pharmaa.com" style="color: white; text-decoration: none;">info.pharmaa.com</a></p>
        </div> -->
        <div class="col-md-4 mb-1 text-center">
          <h4 class="mb-2">Contact Us</h4>
          <p class="mb-1">Address: <a href="https://www.google.com/maps/place/123+Health+Street,+Wellness+City,+Medtown,+PHAR123" target="_blank" style="color: white; text-decoration: none;">123 Health Street, Wellness City,</a></p>
          <!-- <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13471.629918459592!2d31.1517575975623!3d29.007002897689805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1699573700147!5m2!1sar!2seg" width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div> -->
          <p class="mb-1">Phone: <a href="tel:+15555555555" style="color: white; text-decoration: none;">+1 (555) 555-5555</a></p>
          <p class="mb-1">Email: <a href="mailto:info@pharmaa.com" style="color: white; text-decoration: none;">info.pharmaa.com</a></p>
        </div>
        
        <!-- Right Section: Contact Us Information -->
        <div class="col-md-4 mb-4 text-center">
          <div class="col-12 text-center">
            <p>Follow us on social media:</p>
            <div class="social-icons text-center">
              <a href="https://www.facebook.com/">
                <fa-icon [icon]="fafacebook"></fa-icon>
              </a>
              <a href="https://twitter.com/">
                <fa-icon [icon]="fatwitter"></fa-icon>
              </a>
              <a href="https://www.instagram.com/">
                <fa-icon [icon]="fainstagram"></fa-icon>
              </a>
              <a href="https://www.linkedin.com/">
                <fa-icon [icon]="falinkedin"></fa-icon>
              </a>
            </div>
          </div>
        </div>

        

      </div>
<!-- <hr> -->
      <!-- Button Section: Back to Top -->
      <!-- <div id="top" class="col-12 text-center mt-4">
        <button style="color: #419197; border: none; background: #5fb8be; cursor: pointer;" class="btn w-100 back-to-top" (click)="scrollToTop()">
          <span style="color: white;">TO <fa-icon style="color: white;" [icon]="faAngleUp"></fa-icon> TOP</span>
        </button>
      </div> -->
      <div id="top" class="col-12 text-center mt-4" style="width: 60px;">
        <div class="back-to-top-wrapper">
          <button class="btn back-to-top" (click)="scrollToTop()">
            <fa-icon [icon]="faAngleUp"></fa-icon>
          </button>
        </div>
      </div>
      
<hr>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <p class="m-0 text-light"> &copy; 2023 Pharma A. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
