<div class="login-page bg-light my-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="bg-white shadow rounded">
          <div class="row">
            <div class="col-md-7 pe-0">
              <div class="form-left h-100 py-5 px-5">
                <form
                  class="row g-4"
                  [formGroup]="signupForm"
                  (ngSubmit)="addClient()"
                >
                  <h2 class="mb-2">Your health is our concern</h2>
                  <div class="col-12">
                    <label class="form-label">Full Name</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Full Name"
                        formControlName="userFullName"
                      />
                      <div
                        *ngIf="
                          signupForm.controls['userFullName'].touched &&
                          signupForm.controls['userFullName'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['userFullName'].errors?.['required']"
                        >
                          please, enter your full Name
                        </small>
                       
                    <small
                    *ngIf="signupForm.controls['userFullName'].errors?.['pattern']"
                    >
                    Invalid Full Name
                  </small>
                      </div>
                    </div>

                    
                    <!-- <small
                      *ngIf="userFullNameFail"
                      class="text-danger form-text"
                    >
                      Invalid Full Name Format
                    </small> -->
                  </div>
                  <div class="col-12">
                    <label class="form-label">Email</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter your Email"
                        formControlName="userEmail"
                      />
                      <div
                        *ngIf="
                          signupForm.controls['userEmail'].touched &&
                          signupForm.controls['userEmail'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['userEmail'].errors?.['required']"
                        >
                          please, enter your email
                        </small>
                            
                    <small
                    *ngIf="signupForm.controls['userEmail'].errors?.['email']"
                    >
                    Invalid Email Format
                  </small>
                  
                      </div>
                    </div>
                    <!-- <small *ngIf="emailFail" class="text-danger form-text">
                      Invalid Email Format
                    </small> -->
                    <div>
                      <small class="text-danger form-text" *ngIf="emailAlreadyUsed">
                        This email is already used
                      </small>
                    </div>
                  </div>
                  <div class="col-12">
                    <label class="form-label">Phone Number</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Phone Numer"
                        formControlName="userPhone"
                      />
                      <div
                        *ngIf="
                          signupForm.controls['userPhone'].touched &&
                          signupForm.controls['userPhone'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['userPhone'].errors?.['required']"
                        >
                          Please, enter your Phone Number
                        </small>
                        <small
                        *ngIf="signupForm.controls['userPhone'].errors?.['pattern']"
                        >
                        Invalid Phone Number
                       </small>
                      </div>
                      <small class="text-danger form-text" *ngIf="phoneAlreadyUsed">
                        This Phone Number is already used
                      </small>
                      </div>
                  </div> 

                  <div class="col-12">
                    <label class="form-label">Address (Governorate)</label>
                    <div>
                      <select
                        class="form-select"
                        style="color: rgb(73, 99, 102)"
                        placeholder="Enter Address (Governorate)"
                        formControlName="userGovern"
                        name="governorates"
                        #selectGov
                        (change)="selectedGov(selectGov.value)"
                      >
                        <option value="">Select Governorate</option>
                        <option
                          *ngFor="let governorate of governorates"
                          [value]="governorate.governorate_id"
                        >
                          {{ governorate.governorate_name }}
                        </option>
                      </select>
                      <div
                        *ngIf="
                          signupForm.controls['userGovern'].touched &&
                          signupForm.controls['userGovern'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['userGovern'].errors?.['required']"
                        >
                          Please, enter your address (Governorate)
                        </small>
                      </div>
                      <small
                        *ngIf="userGovernFail"
                        class="text-danger form-text"
                      >
                        Please, enter your address (Governorate)
                      </small>
                    </div>
                  </div>
                  <!-- choose city -->
                  <div class="col-12" *ngIf="isCity">
                    <label class="form-label">Address (City)</label>
                    <div>
                      <div>
                        <div>
                          <select
                            class="form-select"
                            style="color: rgb(73, 99, 102)"
                            placeholder="Enter Address (City)"
                            formControlName="userCity"
                            name="governorates"
                            #selectCity
                            (change)="selectedCity(selectCity.value)"
                          >
                            <option value="">Select City</option>
                            <option
                              *ngFor="let city of cities.cities"
                              [value]="city.city_id"
                            >
                              {{ city.city_name }}
                            </option>
                          </select>
                          <div
                            *ngIf="
                              signupForm.controls['userCity'].touched &&
                              signupForm.controls['userCity'].invalid
                            "
                            class="text-danger form-text"
                          >
                            <small
                              *ngIf="signupForm.controls['userCity'].errors?.['required']"
                            >
                              Please, enter your address (City)
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-12">

                  <label class="form-label" for="customFile"
                    >Profile Image</label
                  >
                  <input type="file" class="form-control" id="customFile" (change)="onFileSelected($event)" />
                <input type="button" (click)="onUpload()">  
                </div> -->

                <!-- <div class="col-12">
                  <label class="form-label">Days OFF</label>
                  <div>
                    <div class="day-container">
                      <span
                        class="px-3 py-2 bg-info text-white me-2"
                        *ngFor="let selectedDay of selectedDays"
                      >
                        {{ selectedDay.day }}
                        <span class="fw-bold">x</span>
                      </span>
                    </div>
                    <select
                      style="color: rgb(73, 99, 102)"
                      class="form-select mt-2"
                      name="dayOff"
                      #pharmaDaysOff
                      id=""
                      (change)="chooseDay(pharmaDaysOff.value)"
                    >
                      <option value="0" selected>
                        Select the Closing Day
                      </option>
                      <option
                        value="{{ day.id }}"
                        *ngFor="let day of days.data"
                      >
                        {{ day.day }}
                      </option>
                    </select>
                  </div>
                </div> -->

                  <div class="col-12">
                    <label class="form-label">Password</label>
                    <div>
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Enter Password"
                        formControlName="userPass"
                      />
                      <div
                        *ngIf="
                          signupForm.controls['userPass'].touched &&
                          signupForm.controls['userPass'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['userPass'].errors?.['required']"
                        >
                          Password is required
                        </small>
                                  
                    <small
                    *ngIf="signupForm.controls['userPass'].errors?.['pattern']"
                    >
                    Password must contain 8 characters (at least on letter)
                  </small>
                      </div>
                    </div>
                  </div>

                  <small
                    *ngIf="notAllDataEntered"
                    class="text-danger form-text"
                  >
                    All fields are required
                  </small>

                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn px-4 float-end mt-4"
                      style="background-color: rgb(123, 211, 222); border: none"
                    >
                      Sign Up
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-5 ps-0 d-none d-md-block">
              <img
                style="width: 100%; height: 100%"
                src="https://img.freepik.com/free-vector/protective-glass-counters_23-2148541776.jpg?size=626&ext=jpg&ga=GA1.1.388227192.1694264810&semt=ais"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
