:host {
  --visibleItems: 5; /* Set the desired value for visibleItems */
}
.carousel-c {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.carousel-c-inner {
  display: flex;
  transition: transform 0.5s;
}

.carousel-c-item {
  flex: 0 0 calc(100% / var(--visibleItems));
  padding: 10px;
  box-sizing: border-box;
  height: 250px;
}
/* .w-9{
  width: 90%;
} */
.carousel-c-controls {
  margin-top: 10px;
}
.item-content {
  padding: 10px;
  height: 270px;
}
.item-content:hover {
box-shadow: 0 0 5px #b4b4b4;
}
.item-content img{
  background-color: #f2f2f2;
}

button {
  margin-right: 10px;
}
.carousel-c-controls button{
  width: 40px;
  height: 40px;
  box-shadow: 0 0 5px #b4b4b4;
  border: none;
}