
.angle-down{
  animation: angle .5s;
  animation-fill-mode: forwards;
}
@keyframes angle {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}
.govern:hover{
  background-color: #ddd;
}
.cursor{
  cursor: pointer;
}

.dropdown a:hover {background-color: #ddd;}