<div class="container mt-5 mb-5">
    <div class="main-body">
      <div class="row gutters-sm mt-5">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar7.png"
                  alt="Admin"
                  class="square"
                  width="50%"
                />
                <div class="mt-3">
                  <h4>{{ pharmaId.pharmacyName }}</h4>
                  <p class="text-secondary mb-1">{{ pharmaId.email }}</p>
                  <p class="text-muted font-size-sm">
                    {{ pharmaId.city }}, {{ pharmaId.governorate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <form
              class="px-md-2"
              [formGroup]="updatePharmaForm"
              (ngSubmit)="update()"
            >
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Pharmacy Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="pharmaId.pharmacyName"
                    formControlName="pharmaName"
                  />
                  <div
                  *ngIf="
                    updatePharmaForm.controls['pharmaName'].touched &&
                    updatePharmaForm.controls['pharmaName'].invalid
                  "
                  class="text-danger form-text"
                >
                  <small
                    *ngIf="updatePharmaForm.controls['pharmaName'].errors?.['required']"
                  >
                    please, enter your pharmacy name
                  </small>
                </div>
                <!-- <div>
              <small *ngIf="userFullNameFail"  class="text-danger form-text">
                Invalid Full Name Format
               </small>
              </div> -->
              </div>
              
                </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="pharmaId.email"
                    formControlName="pharmaEmail"
  
                  />
                  <div
                  *ngIf="
                    updatePharmaForm.controls['pharmaEmail'].touched &&
                    updatePharmaForm.controls['pharmaEmail'].invalid
                  "
                  class="text-danger form-text"
                >
                  <small
                    *ngIf="updatePharmaForm.controls['pharmaEmail'].errors?.['required']"
                  >
                    Please, Enter your email.
                  </small>
                </div>
                <div>
                  <small *ngIf="emailFail"  class="text-danger form-text">
                      Invalid Email Format
                     </small>
                </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">License Number</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="pharmaId.licenseNum"
                    formControlName="pharmaLicense"
  
                  />
                  <div
                  *ngIf="
                    updatePharmaForm.controls['pharmaLicense'].touched &&
                    updatePharmaForm.controls['pharmaLicense'].invalid
                  "
                  class="text-danger form-text"
                >
                  <small
                    *ngIf="updatePharmaForm.controls['pharmaLicense'].errors?.['required']"
                  >
                    Please, Enter your pharmacy license number.
                  </small>
                </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="pharmaId.phone"
                    formControlName="pharmaPhone"
  
                  />
                  <div
                  *ngIf="
                    updatePharmaForm.controls['pharmaPhone'].touched &&
                    updatePharmaForm.controls['pharmaPhone'].invalid
                  "
                  class="text-danger form-text"
                >
                  <small
                    *ngIf="updatePharmaForm.controls['pharmaPhone'].errors?.['required']"
                  >
                    Please, Enter your pharmacy phone number.
                  </small>
                </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">
                    Ready to take orders</h6>
                </div>
                <div class="col-sm-9 text-secondary"> 
                  <select class="form-control" formControlName="avaliableToDeliver">
                    <option value="">Select</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                  <div
                    *ngIf="
                      updatePharmaForm.controls['avaliableToDeliver'].touched &&
                      updatePharmaForm.controls['avaliableToDeliver'].invalid"
                    class="text-danger form-text"
                  >
                    <small
                      *ngIf="updatePharmaForm.controls['avaliableToDeliver'].errors?.['required']"
                    >
                      Please, decide whether your pharmacy is open to work or not
                    </small>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Street</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="pharmaId.city"
                    formControlName="pharmaCity"
                  />
                  <div
                  *ngIf="
                    updatePharmaForm.controls['pharmaCity'].touched &&
                    updatePharmaForm.controls['pharmaCity'].invalid
                  "
                  class="text-danger form-text"
                >
                  <small
                    *ngIf="updatePharmaForm.controls['pharmaCity'].errors?.['required']"
                  >
                    Please, Enter your pharmacy Street.
                  </small>
                </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">City</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="pharmaId.city"
                    formControlName="pharmaCity"
                  />
                  <div
                  *ngIf="
                    updatePharmaForm.controls['pharmaCity'].touched &&
                    updatePharmaForm.controls['pharmaCity'].invalid
                  "
                  class="text-danger form-text"
                >
                  <small
                    *ngIf="updatePharmaForm.controls['pharmaCity'].errors?.['required']"
                  >
                    Please, Enter your pharmacy city.
                  </small>
                </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Governorate</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="pharmaId.governorate"
                    formControlName="pharmaGovern"
  
                  />
                  <div
                  *ngIf="
                    updatePharmaForm.controls['pharmaGovern'].touched &&
                    updatePharmaForm.controls['pharmaGovern'].invalid
                  "
                  class="text-danger form-text"
                >
                  <small
                    *ngIf="updatePharmaForm.controls['pharmaGovern'].errors?.['required']"
                  >
                    Please, Enter your pharmacy governorate.
                  </small>
                </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Opening</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="pharmaId.city"
                    formControlName="pharmaCity"
                  />
                  <div
                  *ngIf="
                    updatePharmaForm.controls['pharmaCity'].touched &&
                    updatePharmaForm.controls['pharmaCity'].invalid
                  "
                  class="text-danger form-text"
                >
                  <small
                    *ngIf="updatePharmaForm.controls['pharmaCity'].errors?.['required']"
                  >
                    Please, Enter your pharmacy city.
                  </small>
                </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Closing</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="pharmaId.city"
                    formControlName="pharmaCity"
                  />
                  <div
                  *ngIf="
                    updatePharmaForm.controls['pharmaCity'].touched &&
                    updatePharmaForm.controls['pharmaCity'].invalid
                  "
                  class="text-danger form-text"
                >
                  <small
                    *ngIf="updatePharmaForm.controls['pharmaCity'].errors?.['required']"
                  >
                    Please, Enter your pharmacy city.
                  </small>
                </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Off Days</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="pharmaId.city"
                    formControlName="pharmaCity"
                  />
                  <div
                  *ngIf="
                    updatePharmaForm.controls['pharmaCity'].touched &&
                    updatePharmaForm.controls['pharmaCity'].invalid
                  "
                  class="text-danger form-text"
                >
                  <small
                    *ngIf="updatePharmaForm.controls['pharmaCity'].errors?.['required']"
                  >
                    Please, Enter your pharmacy city.
                  </small>
                </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="password"
                    class="form-control"
                    [(ngModel)]="pharmaId.password"
                    formControlName="pharmaPass"
  
                  />
                  <div
                  *ngIf="
                    updatePharmaForm.controls['pharmaPass'].touched &&
                    updatePharmaForm.controls['pharmaPass'].invalid
                  "
                  class="text-danger form-text"
                >
                  <small
                    *ngIf="updatePharmaForm.controls['pharmaPass'].value==0"
                  >
                    Password is required
                  </small>
                  
                </div>
                <div>
                  <small *ngIf="passFail"  class="text-danger form-text">
                      Password must contain 8 characters (at least on letter)
                    </small>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                  <input
                    type="submit"
                    class="btn btnEdit"
                    value="Save Changes"
                  />
                </div>
              </div>
          </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  