<div class="container-fluid px-5">
  <div class="table w-75  m-auto " >
    <table class="table" *ngIf="cartItems.length > 0">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">image</th>
          <th scope="col">name</th>
          <th scope="col">price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <th scope="row"></th>
          <td class="align-middle "><img src={{item.image}} alt="" width="80px" height="80px" class="rounded-5"></td>
          <td class="align-middle ">{{item.name}}</td>
          <td class="align-middle ">{{item.price}} L.E.</td>
          <td class="align-middle ">
            <div class="btn-group d-flex" role="group" aria-label="Quantity">
              <button (click)="decreaseQuantity(item)" class="btn btn-danger p-0" *ngIf="item.quantity !== 1">-</button>
              <button (click)="decreaseQuantity(item)" class="btn btn-danger p-0" *ngIf="item.quantity == 1" data-bs-toggle="modal" [attr.data-bs-target]="'#removeConfirm-' + item.id">-</button>
              <span class="btn btn-light">{{ item.quantity }}</span>
              <button (click)="increaseQuantity(item)" class="btn btn-success p-0">+</button>
            </div>
          </td>
          <td class="align-middle ">

            <button class="btn btn-danger mt-2" data-bs-toggle="modal" [attr.data-bs-target]="'#removeConfirm-' + item.id">Remove</button>

            <!-- <button  class="btn btn-danger mt-2" data-bs-toggle="modal" [attr.data-bs-target]="'#removeConfirm-' + item.id">Remove</button> -->

              <!-- Modal -->
              <div class="modal fade" [id]="'removeConfirm-' + item.id" tabindex="-1"  aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header" style="background-color: #419197; color:white;">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Remove {{item.name}} from cart? </h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h4>Are you sure you want to remove {{ item.quantity }} {{item.name}} items from the cart?</h4>
                        <img src={{item.image}} alt="" width="80px" height="80px" class="rounded-5">
                    </div>
                    <div class="modal-footer" style="background-color: #419197; color:white;">
                      <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
                      <button (click)="removeFromCart(item)" type="button" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#removeConfirm-' + item.id">Remove</button>
                    </div>
                  </div>
                </div>
              </div>

          </td>
        </tr>
      </tbody>
    </table>
       <!-- Display total price -->
    <div class="card mt-4 d-flex flex-row">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Total Price</h5>
        <p class="card-text">Total Price: {{ total  }} L.E.</p>
      </div>
      <div class="btn btn-success w-30 h-30 d-flex justify-content-center align-items-center"
       *ngIf="cartItems.length"
       (click)="order()">
       <a routerLink="/payment" class="btn"><span class="" style="font-size: 24px;">submit order</span></a>
      </div>
    </div>
    
      <!-- Display "Empty cart" or item count -->
      <div *ngIf="cartItems.length === 0" class="alert alert-info mt-4">Empty cart</div>
      <div *ngIf="cartItems.length > 0" class="alert alert-info mt-4">Total items: {{ cartItems.length }}</div>
    <!-- </div> -->
  </div>
</div>
