div > p{
    margin-bottom: 0;
}

div > h3{
    color: #419197;
}
th{
    background-color: #16909d;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    text-transform: capitalize;
}

td{
    text-align: center;
    vertical-align: middle;
     color: #1a3f42;;
}

tr{
    border-right: gray;
}
.totalPrice{
    font-size: 25px;
    /* color:white; */
    color: #1a3f42;
}