<section class="intro">
  <div class="gradient-custom-1 h-100">
    <div class="mask d-flex align-items-center h-100">
      <div class="container p-5 ">
        <div class="row mb-5">
          <div class="col-4">
        <input type="text" class="form-control" placeholder="Search by product name or Category" [(ngModel)]="searchText"> 
      </div> 
      
     </div>
            <div class="table-responsive bg-white">
              <table class="table mb-0 table-striped">
                <thead>
                  <tr>
                    <th scope="col">product</th>
                    <th scope="col">product Name</th>
                    <th scope="col">Categorty</th>
                    <th scope="col">price</th>
                    <th scope="col">image</th>
                    <th scope="col">Add</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of this.product  
                    |search:searchText, let i =index">
                    <td >{{i+1}}</td>
                    <td>{{product.name}}</td>
                    <td >{{product.category}}</td>
                    <td > {{product.price}}</td>
                    <!-- <td><img [src]="product.image" alt="" width="30px" height="30px"></td> -->
                <td> <input type="checkbox" class="form-check-input" #checkboxes  (change)="addOneProduct(product.id,$event)" ></td>
                 
              </tr>
                </tbody>
                
              </table>
             
            </div>
            <div class="container text-center pt-3 bg-white pb-3">
                <button href="" class="btn btn-danger btn-lg me-3" (click)="reset()">Reset</button>
                <button  type="submit" class="btn btn-info btn-lg ms-3 text-white" (click)="addMedication()">Add</button>
         </div>
          </div>
        </div>
        
      </div>

</section>