<section class="h-100 h-custom" style="background-color: #eff5f3">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img
            src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v870-mynt-20_1_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=34b4a3b495378392a9320de3f3eb09ce"
            class="w-100"
            style="
              border-top-left-radius: 0.3rem;
              border-top-right-radius: 0.3rem;
            "
            alt="Sample photo"
          />
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Add Product</h3>

            <form
              class="px-md-2"
              [formGroup]="addProductForm"
              (ngSubmit)="add()"
            >
              <div class="row">
                <div class="form-outline mb-4 col-md-6 mb-4">
                    <input
                      type="text"
                      id="form3Example1q"
                      class="form-control"
                      formControlName="productName"
                    />
                    <label class="form-label" for="form3Example1q">Product Name</label>
                  </div>
                 <!-- <div class="col-md-6 mb-4">
                  <select class="form-select">
                    <option
                      id="productName"
                      *ngFor="let product of productData"
                      [value]="product.name"
                      (change)="getSelectedValue($event)"
                      
                      >
                      {{ product.name }}
                    </option>
                  </select>
                  <label for="productName" class="form-label"
                    >Product Name</label
                  >
                </div> -->

                <div class="form-outline mb-4 col-md-6 mb-4">
                  <input
                    type="number"
                    id="form3Example1q"
                    class="form-control"
                    formControlName="productPrice"
                  />
                  <label class="form-label" for="form3Example1q">price</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline datepicker">
                    <input
                      type="number"
                      class="form-control"
                      id="exampleDatepicker1"
                      formControlName="productQuantity"
                    />
                    <label for="exampleDatepicker1" class="form-label"
                      >Quantity</label
                    >
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <input type="date" class="form-control" id="date"
                  formControlName="productExpire" />
                  <label for="date" class="form-label">Expairy Date</label>
                </div>
              </div>

              <div class="mb-4">
                <!-- <select class="form-select">
                  <option
                    id="cat"
                    *ngFor="let product of productData"
                    [value]="product.Category"
                    formControlName="productCategory"
                  >
                    {{ product.Category }}
                  </option>
                </select>
                <label for="cat" class="form-label">Category</label>
              </div> -->

                <input
                  type="text"
                  id="form3Example1q"
                  class="form-control"
                  formControlName="productCategory"
                />
                <label class="form-label" for="form3Example1q">Category</label>
              </div>

            

              <button type="submit" class="btn btn-lg mb-1" style="background-color: #419197;">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Student registration form</h3>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1m">First name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1n">Last name</label>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m1" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1m1">Mother's name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n1" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1n1">Father's name</label>
                      </div>
                    </div>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example8">Address</label>
                  </div>
  
                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
  
                    <h6 class="mb-0 me-4">Gender: </h6>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                        value="option1" />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                        value="option2" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                        value="option3" />
                      <label class="form-check-label" for="otherGender">Other</label>
                    </div>
  
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
  
                      <select class="form-select">
                        <option value="1">State</option>
                        <option value="2">Option 1</option>
                        <option value="3">Option 2</option>
                        <option value="4">Option 3</option>
                      </select>
  
                    </div>
                    <div class="col-md-6 mb-4">
  
                      <select class="form-select">
                        <option value="1">City</option>
                        <option value="2">Option 1</option>
                        <option value="3">Option 2</option>
                        <option value="4">Option 3</option>
                      </select>
  
                    </div>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example9" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example9">DOB</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example90" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example90">Pincode</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example99" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example99">Course</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example97" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example97">Email ID</label>
                  </div>
  
                  <div class="d-flex justify-content-end pt-3">
                    <button type="button" class="btn btn-light btn-lg">Reset all</button>
                    <button type="button" class="btn btn-warning btn-lg ms-2">Submit form</button>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
