<div class="container mt-5 mb-5">
  <div class="main-body">
    <div class="row gutters-sm mt-5">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar7.png"
                alt="Admin"
                class="rounded-circle"
                width="150"
              />
              <div class="mt-3">
                <h4>{{ clientName }}</h4>
                <p class="text-secondary mb-1">{{ clientEmail }}</p>
                <p class="text-muted font-size-sm">
                  {{ clientCity }}, {{ clientGovern }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <form
            class="px-md-2"
            [formGroup]="updateClientForm"
            (ngSubmit)="update()"
          >
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="clientId.client_name"
                  formControlName="clientFullName"
                />
                <div
                *ngIf="
                  updateClientForm.controls['clientFullName'].touched &&
                  updateClientForm.controls['clientFullName'].invalid
                "
                class="text-danger form-text"
              >
                <small
                  *ngIf="updateClientForm.controls['clientFullName'].errors?.['required']"
                >
                  please, Enter your Name
                </small>
              </div>
              <!-- <div>
            <small *ngIf="userFullNameFail"  class="text-danger form-text">
              Invalid Full Name Format
             </small>
            </div> -->
            </div>
            
              </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="clientId.client_email"
                  formControlName="clientEmail"

                />
                <div
                *ngIf="
                  updateClientForm.controls['clientEmail'].touched &&
                  updateClientForm.controls['clientEmail'].invalid
                "
                class="text-danger form-text"
              >
                <small
                  *ngIf="updateClientForm.controls['clientEmail'].errors?.['required']"
                >
                  Please, Enter your email.
                </small>
              </div>
              <div>
                <small *ngIf="emailFail"  class="text-danger form-text">
                    Invalid Email Format
                   </small>
              </div>
              </div>
            </div>
            
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="clientId.phone"
                  formControlName="clientPhone"

                />
                <div
                *ngIf="
                  updateClientForm.controls['clientPhone'].touched &&
                  updateClientForm.controls['clientPhone'].invalid
                "
                class="text-danger form-text"
              >
                <small
                  *ngIf="updateClientForm.controls['clientPhone'].errors?.['required']"
                >
                  Please, Enter your phone.
                </small>
              </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">City</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="clientId.city"
                  formControlName="clientCity"

                />
                <div
                *ngIf="
                  updateClientForm.controls['clientCity'].touched &&
                  updateClientForm.controls['clientCity'].invalid
                "
                class="text-danger form-text"
              >
                <small
                  *ngIf="updateClientForm.controls['clientCity'].errors?.['required']"
                >
                  Please, Enter your city.
                </small>
              </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Governorate</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="clientId.Governorate"
                  formControlName="clientGovern"

                />
                <div
                *ngIf="
                  updateClientForm.controls['clientGovern'].touched &&
                  updateClientForm.controls['clientGovern'].invalid
                "
                class="text-danger form-text"
              >
                <small
                  *ngIf="updateClientForm.controls['clientGovern'].errors?.['required']"
                >
                  Please, Enter your governorate.
                </small>
              </div>
              </div>
            </div>
            <!-- <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Password</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="password"
                  class="form-control"
                  [(ngModel)]="clientId.password"
                  formControlName="clientPass"

                />
                <div
                *ngIf="
                  updateClientForm.controls['clientPass'].touched &&
                  updateClientForm.controls['clientPass'].invalid
                "
                class="text-danger form-text"
              >
                <small
                  *ngIf="updateClientForm.controls['clientPass'].value==0"
                >
                  Password is required
                </small>
              </div>
              <div>
                <small *ngIf="passFail"  class="text-danger form-text">
                    Password must contain 8 characters (at least on letter)
                  </small>
              </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="submit"
                  class="btn btnEdit"
                  value="Save Changes"
                />
              </div>
            </div>
        </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
