<h1 class="text-uppercase  text-center my-5 page-title">
    orders table
</h1>

<!--  -->
<!-- spinner loading -->
<div class="d-flex align-items-center justify-content-center spinner" style="height: 50vh;" *ngIf="isLoading">
  <span class="loader"></span>
</div>

<!-- <app-loading ></app-loading> -->
<!--  -->
<div class="w-75 m-auto " *ngIf="!isLoading">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">order no</th>
            <th scope="col">client name</th>
            <th scope="col">order time</th>
            <th scope="col">view order</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders | paginate
          : {
              itemsPerPage: 10,
              currentPage: page,
              totalItems: totalLenght
            }, let i = index ">

            <th scope="row">{{order.id}}</th>
            <td>{{order.client_name}}</td>
            <td>{{order.created_at}}</td>
            <td>
                <a class="btn btn-warning me-3 text-white fw-bold" href="/viewOrders/{{order.id}}">View Order</a>
                <span class="badge p-2"[ngClass]="'text-bg-'+badgeColor(order.status)">{{order.status}}</span>
            </td>
          </tr>
        </tbody>
      </table>

      <pagination-controls
        class="my-pagination text-center"
        (pageChange)="page = $event"
        >
      </pagination-controls>
</div>

