<div *ngIf="!isLoading">
  <h1 class="text-uppercase  text-center my-5 page-title">
        orders table
  </h1>

  <!--  -->
  <div class="m-auto" style="width:90%; min-height: 70vh;" >
    <div  style="overflow-x: auto;">
      <table class="table  table-responsive">
        <thead>
          <tr>
            <th scope="col">Order no</th>
            <th scope="col">Client name</th>
            <th scope="col">address</th>
            <th scope="col">Order time</th>
            <th scope="col">View order</th>
            <th scope="col">Status</th>
            <th scope="col">Payment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders | paginate
          : {
              itemsPerPage: 10,
              currentPage: page,
              totalItems: totalLenght
            }, let i = index ">

            <th scope="row">{{i+1}}</th>
            <td>{{order.client_name}}</td>
            <td>{{order.pharmacy_address}}</td>
            <td>{{order.created_at | date:'yyyy-MM-dd HH:mm'}}</td>
            <td>
                <a class="btn btn-primary me-3 text-white fw-bold" routerLink="/viewOrders/{{order.id}}">
                  <fa-icon [icon]="faEye"></fa-icon>
                </a>
            </td>
            <td class="text-start">
              <fa-icon [ngClass]="'px-2 text-'+badgeColor(order.status )" [icon]="faCircle"></fa-icon>
              <span [ngClass]="'text-'+badgeColor(order.status)" >{{order.status|camelToRegular}}</span>
            </td>
            <td>
              <span *ngIf="!order.payment" class="badge bg-danger p-2">Cash</span>
              <span *ngIf="order.payment" class="badge bg-success p-2">Credit Card</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls
      class="my-pagination text-center"
      (pageChange)="page = $event"
      >
    </pagination-controls>
  </div>
</div>

<!--  -->
<!-- spinner loading -->
<app-spinner *ngIf="isLoading"></app-spinner>
