<!-- <div class="card">
    <img [src]="pharmacy.images" class="card-img-top" [alt]="pharmacy.title" />
    <div class="card-body">
      <h5 class="card-title">{{ pharmacy.title }}</h5>
      <p class="card-text">
        {{ pharmacy.description }}
      </p>
      <p class="card-text">Price: {{ pharmacy.price | currency:'EGP' }}</p>
      <p [style.color]="pharmacy.stock === 0 ? 'red' : 'green'">
      {{ pharmacy.stock === 0 ? 'Out of Stock' : 'In Stock' }}
    </p>
      <button class="btn btn-primary" (click)="redirectToDetails(pharmacy.id)">
        Details
      </button>
      <button class="btn btn-danger" (click)="redirectToDetails(pharmacy.id)">
        Add to cart
      </button>
    </div>
  </div>
   -->