<div class="login-page bg-light my-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="bg-white shadow rounded">
          <div class="row">
            <div class="col-md-7 pe-0">
              <div class="form-left h-100 py-5 px-5">
                <form
                  class="row g-4"
                  [formGroup]="signupForm"
                  (ngSubmit)="addPharma()"
                >
                  <h2 class="mb-2 text-capitalize">
                    Get closer to your customers
                  </h2>
                  <div class="col-12">
                    <label class="form-label">Pharmacy Name</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Pharmacy Name"
                        formControlName="pharmaName"
                      />
                      <div
                        *ngIf="
                          signupForm.controls['pharmaName'].touched &&
                          signupForm.controls['pharmaName'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['pharmaName'].errors?.['required']"
                        >
                          please, enter your Pharmacy Name
                        </small>
                      </div>
                      <small
                        class="text-danger form-text"
                        *ngIf="pharmaNameAlreadyUsed"
                      >
                        This pharmacy name has already been used
                      </small>
                    </div>
                  </div>

                  <div class="col-12">
                    <label class="form-label">Email</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Pharmacy Email"
                        formControlName="pharmaEmail"
                      />
                      <div
                        *ngIf="
                          signupForm.controls['pharmaEmail'].touched &&
                          signupForm.controls['pharmaEmail'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['pharmaEmail'].errors?.['required']"
                        >
                          please, enter your email
                        </small>
                        <small
                          *ngIf="signupForm.controls['pharmaEmail'].errors?.['email']"
                        >
                          Invalid Email Format
                        </small>
                      </div>
                      <small
                        class="text-danger form-text"
                        *ngIf="emailAlreadyUsed"
                      >
                        This email is already used
                      </small>
                    </div>
                  </div>

                  <div class="col-12">
                    <label class="form-label">Pharmacy Phone</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Pharmacy Phone"
                        formControlName="pharmaPhone"
                      />
                      <div
                        *ngIf="
                          signupForm.controls['pharmaPhone'].touched &&
                          signupForm.controls['pharmaPhone'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['pharmaPhone'].errors?.['required']"
                        >
                          Please, enter your Pharmacy Phone
                        </small>
                        <small
                          *ngIf="signupForm.controls['pharmaPhone'].errors?.['pattern']"
                        >
                          Invalid Phone Number
                        </small>
                      </div>
                      <small
                        class="text-danger form-text"
                        *ngIf="phoneAlreadyUsed"
                      >
                        This Phone Number is already used
                      </small>
                    </div>
                  </div>

                  <div class="col-12">
                    <label class="form-label">Pharmacy License Number</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Pharmacy License Number"
                        formControlName="pharmaLicense"
                      />
                      <div
                        *ngIf="
                          signupForm.controls['pharmaLicense'].touched &&
                          signupForm.controls['pharmaLicense'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['pharmaLicense'].errors?.['required']"
                        >
                          Please, enter license Number
                        </small>
                      </div>
                      <small
                        class="text-danger form-text"
                        *ngIf="licenseAlreadyUsed"
                      >
                        This license number is already used
                      </small>
                    </div>
                  </div>

                  <div class="col-12">
                    <label class="form-label">Bank Account Number</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Pharmacy Bank Account Number"
                        formControlName="pharmaBankAccount"
                      />
                      <div
                        *ngIf="
                          signupForm.controls['pharmaBankAccount'].touched &&
                          signupForm.controls['pharmaBankAccount'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['pharmaBankAccount'].errors?.['required']"
                        >
                          Please, Enter Bank Account Number
                        </small>
                        <small
                          *ngIf="signupForm.controls['pharmaBankAccount'].errors?.['pattern']"
                        >
                          Invalid Bank Account Number
                        </small>
                      </div>
                      <small
                        class="text-danger form-text"
                        *ngIf="bankAccountAlreadyUsed"
                      >
                        This bank account number is already used
                      </small>
                    </div>
                  </div>

                  <div class="col-12">
                    <label class="form-label"
                      >Pharmacy location (Governorate)</label
                    >
                    <div>
                      <select
                        class="form-select"
                        style="color: rgb(73, 99, 102)"
                        placeholder="Enter Address (Governorate)"
                        formControlName="pharmaGovern"
                        name="governorates"
                        #selectGov
                        (change)="selectedGov(selectGov.value)"
                      >
                        <option value="">Select Governorate</option>
                        <option
                          *ngFor="let governorate of governorates"
                          [value]="governorate.governorate_id"
                        >
                          {{ governorate.governorate_name }}
                        </option>
                      </select>
                      <div
                        *ngIf="
                          signupForm.controls['pharmaGovern'].touched &&
                          signupForm.controls['pharmaGovern'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['pharmaGovern'].errors?.['required']"
                        >
                          Please, Enter Pharmacy location (Governorate)
                        </small>
                      </div>
                      <!-- <small
                      *ngIf="userGovernFail"
                      class="text-danger form-text"
                    >
                      Please, enter your address (Governorate)
                    </small> -->
                    </div>
                  </div>
                  <!-- choose city -->
                  <div class="col-12" *ngIf="isCity">
                    <label class="form-label">Pharmacy location (City)</label>
                    <div>
                      <div>
                        <div>
                          <select
                            class="form-select"
                            style="color: rgb(73, 99, 102)"
                            placeholder="Enter Address (City)"
                            formControlName="pharmaCity"
                            name="governorates"
                            #selectCity
                            (change)="selectedCity(selectCity.value)"
                          >
                            <option value="">Select City</option>
                            <option
                              *ngFor="let city of cities.cities"
                              [value]="city.city_id"
                            >
                              {{ city.city_name }}
                            </option>
                          </select>
                          <div
                            *ngIf="
                              signupForm.controls['pharmaCity'].touched &&
                              signupForm.controls['pharmaCity'].invalid
                            "
                            class="text-danger form-text"
                          >
                            <small
                              *ngIf="signupForm.controls['pharmaCity'].errors?.['required']"
                            >
                              Please, Pharmacy location (City)
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label class="form-label">Pharmacy Location (street)</label>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Pharmacy Location (street)"
                        formControlName="pharmaStreet"
                      />
                      <div
                        *ngIf="
                          signupForm.controls['pharmaStreet'].touched &&
                          signupForm.controls['pharmaStreet'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['pharmaStreet'].errors?.['required']"
                        >
                          Please, Enter pharmcay location (Street)
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label class="form-label">Opening time</label>
                    <div>
                      <input
                        type="time"
                        class="form-control"
                        placeholder="Enter Password"
                        formControlName="pharmaOpeningTime"
                      />
                      <div
                        *ngIf="
                          signupForm.controls['pharmaOpeningTime'].touched &&
                          signupForm.controls['pharmaOpeningTime'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['pharmaOpeningTime'].errors?.['required']"
                        >
                          opening time is required
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label class="form-label">Closing time</label>
                    <div>
                      <input
                        type="time"
                        class="form-control"
                        placeholder="Enter Password"
                        formControlName="pharmaClosingTime"
                      />
                      <div
                        *ngIf="
                          signupForm.controls['pharmaClosingTime'].touched &&
                          signupForm.controls['pharmaClosingTime'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['pharmaClosingTime'].errors?.['required']"
                        >
                          closing time is required
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label class="form-label">Days OFF</label>
                    <div>
                      <div class="day-container">
                        <span
                          class="px-3 py-2 bg-info text-white me-2"
                          *ngFor="let selectedDay of selectedDays"
                        >
                          {{ selectedDay.day }}
                          <fa-icon
                            [icon]="faCancel"
                            class="rounded-5 bg-white text-black cursor"
                            (click)="removeDay(selectedDay.id)"
                          ></fa-icon>
                        </span>
                      </div>
                      <select
                        style="color: rgb(73, 99, 102)"
                        class="form-select mt-2"
                        name="dayOff"
                        #pharmaDaysOff
                        id=""
                        (change)="chooseDay(pharmaDaysOff.value)"
                      >
                        <option value="0" selected>
                          Select the Closing Day
                        </option>
                        <option
                          value="{{ day.id }}"
                          *ngFor="let day of days.data"
                        >
                          {{ day.day }}
                        </option>
                      </select>
                    </div>
                  </div>


                  <!--------------------------- upload file ------------------------->
                <div class="col-12">
                  <label class="form-label" for="customFile"
                    >Pharmacy Image</label
                  >
                  <input type="file" class="form-control" id="customFile" formControlName="userImage" (change)="onFileSelected($event)" />
                </div>


                <!-- -------------------password ----------------------- -->
                  <div class="col-12">
                    <label class="form-label">Password</label>
                    <div>
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Enter Password"
                        formControlName="pharmaPass"
                      />
                      <div
                        *ngIf="
                          signupForm.controls['pharmaPass'].touched &&
                          signupForm.controls['pharmaPass'].invalid
                        "
                        class="text-danger form-text"
                      >
                        <small
                          *ngIf="signupForm.controls['pharmaPass'].errors?.['required']"
                        >
                          Password is required
                        </small>
                        <small
                          *ngIf="signupForm.controls['pharmaPass'].errors?.['pattern']"
                        >
                          Password must contain 8 characters (at least on
                          letter)
                        </small>
                      </div>
                    </div>
                  </div>

                  <small
                    *ngIf="notAllDataEntered"
                    class="text-danger form-text"
                  >
                    All fields are required
                  </small>

                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn px-4 float-end mt-4"
                      style="background-color: rgb(123, 211, 222); border: none"
                    >
                      Sign Up
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-5 ps-0 d-none d-md-block">
              <img
                style="width: 100%; height: 100%"
                src="https://img.freepik.com/free-photo/stethoscope-pills_23-2147691463.jpg?size=626&ext=jpg&ga=GA1.2.388227192.1694264810&semt=ais"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
