
.bg-nav{
    background-color: #5fb8be;
  }
  button {
    margin-right: 10px;
  }
  /* Add custom CSS for alternate row coloring */
.table-striped-custom tbody tr:nth-child(odd) {
  background-color: #f8f9fa; /* Use your preferred background color */
}

.table-striped-custom tbody tr:nth-child(even) {
  background-color: #e9ecef; /* Use your preferred background color */
}
.table{
  font-size: 21px;
}  
.table td{
  padding-left: 40px;
  text-align: left;
}
.table tr td:nth-child(1){
  background-color:#5fb8be;
}


h5{
  /* text-align: center; */
  color:  rgb(73, 99, 102);
  font-size:1.5rem;
  font-weight: bold;
}
p{
  color:  rgb(73, 99, 102);
  line-height:20px;

}
h6{
  color:  rgb(73, 99, 102);
  font-size:1.3rem;
  font-weight: bold;

}
.btnDet{
  background-color: #419197 ;
  color: #fff;
}
.btnDet:hover{
  background-color: #295c60 ;
  color: #fff;
}
.btnAdded{
  background-color: #324b4c;
  color: #fff;
}