<div class="d-flex container">
    <img src="{{productDetails.image}}" alt="{{productDetails.name}}" class="w-50">
    <div>
        <div>
            product name : {{productDetails.name}}
        </div>
        <div>
            <!-- product describtion : {{productDetails.description}} --></div>
        <div>
            price :<span class="badge bg-secondary">{{productDetails.price}} L.E.</span>
        </div>
        <div>
            category :<span class="badge bg-primary">{{productDetails.category}} </span>
        </div>
        <button class="btn bg-nav text-white w-50 m-0 cartbtn" (click)="addToCart(productDetails)" *ngIf="!productDetails.added">add to cart</button>

    </div>
</div>
