<!-------------tables------------------------------>

<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="bg-white">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">no</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
                <th scope="col">Category</th>
                <th scope="col">Image</th>
                <th scope="col">Delete</th>
                
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let product of products
                    | paginate
                      : {
                          itemsPerPage: 8,
                          currentPage: page,
                          totalItems: totalLenght
                        },
                        let i = index
                "
              >
                <td>{{ i + 1 }}</td>
                <td>{{ product.medicine_name }}</td>
                <td>{{ product.medicine_price }}</td>
                <td>{{ product.medicine_category }}</td>
                <td>
                  <img
                    src="assets/img/medicine.jpg"
                    alt=""
                    width="30px"
                    height="30px"
                  />
                </td>
                <td>
                  <button 
                    type="button" 
                    class="btn btn-secondary ms-1" 
                    data-bs-toggle="modal" 
                    data-bs-target="#deleteproduct" 
                    (click)="openAlert(product.medicine_id)"
                  >
                    <fa-icon [icon]="faDelete"></fa-icon>
                  </button>
                </td>
                
              </tr>

              <!-- model -->
              <div
                    class="modal fade"
                    id="deleteproduct"
                    tabindex="-1"
                    aria-labelledby="deleteproductLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteproduct">
                            Confirm Delete
                          </h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete this product?</p>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                          <button
                            type="button"
                            class="btn btn-danger"
                            (click)="deleteProduct()"
                            data-bs-toggle="modal"
                            [attr.data-bs-target]="'#deleteproduct'"
                          >
                            Delete
                          </button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
            </tbody>
            
          </table>
          
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
      <!-- <a [href]="addProductUrl" class="btn btn-secondary me-1">
        <fa-icon [icon]="faAdd"></fa-icon
      >
      </a> -->
      <a [href]="addProductUrl" class="my-2">
        Add New Product >>
      </a>
  </div>
  <pagination-controls
    class="my-pagination text-center"
    (pageChange)="page = $event"
  ></pagination-controls>
</section>

<!------------------------>
