
th{
  background-color: #1f494d;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  text-transform: capitalize;
}
td{
  text-align: center;
  vertical-align: middle;
}
tr{
  border-right: gray;
}

.page-title{
  color: #1a3f42;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #419197;
  margin-top: 5px;
}

.intro {
  margin-top: 70px;
  /* background-color: #F5F7F8; */
}

.cursor{
  cursor: pointer;
}
